.display {
  margin-right: 10px;
  width: 300px;
}

#game {
  margin-left: 10px;
  width: 300px;
}

#score {
  width: 750px;
}

#score p {
  margin: 0;
}

#flag-image {
  height: 250px;
  width: 400px;
}
