.display {
  margin-right: 10px;
  width: 500px;
}

.game {
  margin-left: 10px;
  width: 500px;
}

.score {
  width: 1020px;
}

.score p {
  margin: 0;
}

#flag-image {
  height: 250px;
  width: 400px;
}
